
header{ 
    background-image: url(imagem/imagemcss.jpg);
          width: 1330px;
          height: 325px;
     border-radius:5px;
}
article{
    float:left;

    background-image: url(imagem/asfaltocss.jpg);
          width: 980px;
          height: 982px;
    border-radius:5px;
   margin-top: 20px;
}
body{
    background:yellow;
}
aside {
    float:left;
   margin:20px;
    background-image: url(imagem/ros2.jpg);
          width: 310px;
          height: 982px;
        border-radius:5px;
    color:red;

}
footer>{

     background-image: url(imagem/rodape.jpg)
          width: 868px;
          height: 103px;
        border-radius:5px;
        clear:both;
}
article{
    font-size: 25px;
    font-style: arial black;
    color:red;
}
.home{
    position: absolute;
    top:270;
    left:25;
    font-size: 25px;
}
.pilotos{
    position: absolute;
    top:270;
    left:100;
    font-size: 25px;
}
.equipes{
    position: absolute;
    top:270;
    left:190;
    font-size: 25px;
}
.regras{
    position: absolute;
    top:270;
    left:295;
    font-size: 25px;
}
.resultados{
    position: absolute;
    top:270;
    left:390;
    font-size: 25px;
}
.classificação{
    position: absolute;
    top:270;
    left:610;
    font-size: 25px;
}
.corridas{
    position: absolute;
    top:270;
    left:770;
    font-size: 25px;
}
.campeoes{
    position: absolute;
    top:270;
    left:975;
    font-size: 25px;
}
.faleconosco{    
    position: absolute;
    top:270;
    left:1190;
    font-size: 25px;
    
}
h3 {color:red;
font-size: 20px;}

h2{
    color:red;
    font-size:27;
}
h5{
    position: absolute;
    top:1298px;
    font-size:18px;
    left:775px;
    color:greenyellow;
}


#form1 {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 30px;
    max-width: 1000px;
    position: absolute;
    top:600px;
    left:250px;    
}
table{
    color:red;
    position: absolute;
    top:500px;
    left:200px;
}

#cadastro{
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 30px;
    max-width: 1000px;
    position: absolute;
    top:650px;
    left:250px;    
}

#login{
    position: absolute;
    top:500px;
    left:1050px;
    color: red;
}

#dados{
    position: absolute;
    top:430px;
    left:1050px;
    color: red;
    font-size: 22px;
}

#sobre{
font-size: 20px;
}

#sobre2{
font-size: 20px;
}
